@import './base.css';

.error {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.pagination button {
  min-width: 120px;
}

.page-info {
  font-weight: 600;
}

.login-register {
  margin-top: 4rem;
}
